QMenu::item:selected {
    background-color: #0066ff;
}

QMainWindow {
    background-color: #1a1a1a;
}

#layerView {
    background-color: #262626;
    border: 1px solid #1a1a1a;
}

#mainToolBar {
    background-color: #262626;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
}
