QListWidget{
    background-color: #262626;
    max-width: 300px;
    border: 1px solid #1a1a1a;
}

QListWidget::item{
    background-color: #333;
    color : #aaa;
    border: 1px solid #262626;
}

QListWidget::item:selected{
    background-color: #aaa;
    color : #333;
}
