QFrame {
    padding: 7px;
    padding-left: 10px;
    font-size: 10px;
}

QCheckBox {
    color:  #d9d9d9;
    font-size: 11px;
}

QCheckBox:disabled {
    color:  #aaaaaa;
}

QCheckBox::indicator {
    width: 11px;
    height: 11px;
    background-color: #262626;
    border: 1px solid #1a1a1a;
    border-radius: 3px;
}

QCheckBox::indicator:checked {
    image: url(:/icons/check-tick.svg);
}

QPushButton {
    background-color: #262626;
    border : none;
}

